h1 {
    margin: 0px;
 }

body {
    background-color: #f0ead2;
}

.navbar {
    background-color: #3a2618;
    margin-top: 0px;
    font-family:Arial, Helvetica, sans-serif;
}

.navbar a {
    color: #f0ead2;
    
}

.navbar a:hover {
    color: #f0ead2;
}

#header {
    text-align: center;
    background-color: #3a2618;
    margin-bottom: 0px;
}

a {
    text-decoration: none;
    color: #f0ead2;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

#welcometext {
    background-color: #f0ead2;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
}

@keyframes hovershadow {
    to {
        box-shadow: 0 0 20px rgb(87, 41, 21);
    }
}

img {
    float: left;
    margin-top: 50px;
}

img:hover {
    animation-name: hovershadow;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

@keyframes shadow {
    to {
        box-shadow: 0 0 20px rgb(221, 229, 182)
    }
}

li:hover {
    animation-name: shadow;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

#quiz {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(198, 222, 60, 0.2);
    font-family: 'Times New Roman', Times, serif;
    position: absolute;
    top: 30%;
    left: 33%;


  }
  
  h2 {
    text-align: center;
    color: #3a2618;
  }
  
  #question {
    margin-bottom: 20px;
    text-align: center;
  }
  
  #options {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(2, 1fr);
  }
  
  button {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    background-color: rgb(227, 238, 10), 245, 161;
    color: #3a2618;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #8f8d8d;
  }

  .timer_sec {
    font-size: 10px;
    font-weight: 500;
    color: #3a2618;
    line-height: 30px;
    text-align: center;
    background: #f0ead2;
    border: 1px solid;
    user-select: none;
  }

  .time_line {
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 4px;
    background: white;
  }





section{
    padding: 20px;
}

.footer{
    background-color: #3a2618;
    text-align: center;
    padding: 10px;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    gap: 3.5rem;
    left: 0;
    right: 0;
    bottom: 0;
}

.footer-content h4{
    color: #f0ead2;
    font-size: 20px;
    margin-bottom: 1rem;
}

.footer-content li{
    margin-bottom: 15px;
    display: block;
}

.footer-content li a{
    color: #f0ead2;
}

.footer-content p{
    color: #f0ead2;
}

/* responsiivisuus ei ole vielä lähelläkään valmis :DD */

@media only screen and (max-width: 600px) {
    img {
        max-width: 350px;
    }
}
