  /* header */

  h1 {
    margin: 0px;
 }

 #header {
    text-align: center;
    background-color: #3a2618;
    margin-bottom: 0px;
}

a {
    text-decoration: none;
    color: #f0ead2;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

        /* navbar */

        .navbar {
            background-color: #3a2618;
            margin-top: 0px;
            font-family:Arial, Helvetica, sans-serif;
        }
        
        .navbar a {
            color: #f0ead2;
        }
        
        .navbar a:hover {
            color: #f0ead2;
        }
        
        @keyframes shadow {
            to {
                box-shadow: 0 0 20px rgb(221, 229, 182)
            }
        }
        
        li:hover {
            animation-name: shadow;
            animation-duration: 1s;
            animation-fill-mode: forwards;
        }

    /*maincontent */

        body {
            background-color: #f0ead2;
        }

        #maincontent {
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
            background-color: #f0ead2;
        }
        
        .container {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: 30px;
            background: #f0ead2;
            padding: 40px 60px;
        }

        h2 {
            font-size: 3em;
            color:#3a2618;
            text-transform: uppercase;
            letter-spacing: 0.1em;
        }

        .reset {
            padding: 15px 20px;
            color: #f0ead2;
            background: #3a2618;
            border: none;
            font-size: 1.5em;
            letter-spacing: 0.1em;
            text-transform: uppercase;
            cursor: pointer;
            font-weight: 600;
        }

        .reset:focus {
            color:#f0ead2;
            background: #f0ead2;
        }

        .game {
            width: 440px;
            height: 440px;
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
            transform-style: preserve-3d;
            perspective: 500px;
        }

        .item {
            position: relative;
            width: 100px;
            height: 100px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 1em;
            background:#3a2618;
            transition: 0.25s;
            color: #f0ead2;
            font-family: Georgia, 'Times New Roman', Times, serif;
        }

        .item.boxOpen {
           transform: rotateY(0deg); 
        }

        .item::after {
            content: '';
            position: absolute;
            inset: 0;
            background: #3a2618;
            transition: 0.25s;
            transform: rotateY(0deg);
            backface-visibility: hidden;
            text-decoration-color: #f0ead2;
        }

        .boxOpen:after, .boxMatch:after {
            transform: rotateY(180deg);
        }

        *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        .modal {
            width: 100%;
            height: 100vh;
            display: flex;
            align-items: center;
        }

        .btn {
            padding: 10px 60px;
            background-color: rgb(255, 255, 255);
            border: 0;
            outline: none;
            cursor: pointer;
            font-size: 22px;
            font-weight: 500;
            border-radius: 30px;
        }

        .popup {
            width: 400px;
            background: #fff;
            border-radius: 6px;
            position: absolute;
            top: 0;
            left: 50%;
            transform: translate(-50%, -50%) scale(0.1);
            text-align: center;
            padding: 0 30px 30px;
            color: #333;
            visibility: hidden;
            transition: transform 0.4s, top 0.4s;
        }

        .open-popup {
            visibility: visible;
            top: 50%;
            transform: translate(-50%, -50%) scale(1);
        }

        .popup h2 {
            font-size: 38px;
            font-weight: 500;
            margin: 30px 0 10px;
        }

        .popup button {
            width: 100%;
            margin-top: 50px;
            padding: 10px 0;
            background-color: bisque;
            color: #fff;
            border: 0;
            outline: none;
            font-size: 18px;
            border-radius: 4px;
            cursor: pointer;
            box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
        }

 /* footer */

 section{
    padding: 20px;
}

.footer{
    background-color: #3a2618;
    text-align: center;
    padding: 10px;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    gap: 3.5rem;
    left: 0;
    right: 0;
    bottom: 0;
}

.footer-content h4{
    color: #f0ead2;
    font-size: 20px;
    margin-bottom: 1rem;
}

.footer-content li{
    margin-bottom: 15px;
    display: block;
}

.footer-content li a{
    color: #f0ead2;
}

.footer-content p{
    color: #f0ead2;
}
