#maincontent {
    background-color: #dde5b6;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.navbar {
    background-color: #f0ead2;
    margin-top: 0px;
}

#header {
    text-align: center;
    background-color: #f0ead2;
    margin-bottom: 0px;
}

a {
    text-decoration: none;
    color: black;
}

#footer {
    text-align: center;
    max-width: 100%;
}

#footer a {
    text-decoration: underline;
}

#maincontent {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}



#maincontent img {   
    margin: 5px;   
}

figure {
    text-align: center;
    max-width: 100%;
}

figcaption {
    width: 100%;
    margin-top: 5px;
}

@keyframes hovershadow {
    to {
        box-shadow: 4px 5px 10px;
    }
}
img:hover{
    animation-name: hovershadow;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}



/* responsiivisuus ei ole vielä lähelläkään valmis :DD */

@media only screen and (max-width: 600px) {
    img {
        max-width: 350px;
    }
}
