/* header */

h1 {
    margin: 0px;
 }

 #header {
    text-align: center;
    background-color: #3a2618;
    margin-bottom: 0px;
}

a {
    text-decoration: none;
    color: #f0ead2;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

        /* navbar */

.navbar {
    background-color: #3a2618;
    margin-top: 0px;
    font-family:Arial, Helvetica, sans-serif;
}

.navbar a {
    color: #f0ead2;
}

.navbar a:hover {
    color: #f0ead2;
}

@keyframes shadow {
    to {
        box-shadow: 0 0 20px rgb(221, 229, 182)
    }
}

li:hover {
    animation-name: shadow;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}


        /* footer */

section{
    padding: 20px;
}

.footer{
    background-color: #3a2618;
    text-align: center;
    padding: 10px;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    gap: 3.5rem;
    left: 0;
    right: 0;
    bottom: 0;
}

.footer-content h4{
    color: #f0ead2;
    font-size: 20px;
    margin-bottom: 1rem;
}

.footer-content li{
    margin-bottom: 15px;
    display: block;
}

.footer-content li a{
    color: #f0ead2;
}

.footer-content p{
    color: #f0ead2;
}

/* middleage */

body{
	font-family: Arial, Helvetica, sans-serif;
	color: #333;
    font-weight: 300;
    text-align: center;
    background-color: #f0ead2;
}

.h1{
    font-weight: 300;
    margin: 0px;
    padding: 10px;
    font-size: 20px;
    color: #3a2618;
}
.question{
    font-size: 30px;
    margin-bottom: 10px;
}
.answers {
    margin-bottom: 20px;
    text-align: left;
    display: inline-block;
}
.answers label{
    display: block;
    margin-bottom: 10px;

} 
    
button{
    font-family: Arial, Helvetica, sans-serif;
	font-size: 22px;
	background-color: rgb(66, 164, 110);
	color: #fff;
	border: 0px;
	border-radius: 3px;
	padding: 20px;
	cursor: pointer;
	margin-bottom: 20px;
}

button:hover{
	background-color: rgb(48, 153, 102);
}

.slide{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.5s;
}

.active-slide{
    opacity: 1;
    z-index: 2;
}

.quiz-container{
    position: relative;
    height: 700px;
    margin-top: 40px;
}
